{% extends "layout.html" %} {% block body %}

<h1 class="contacto-title">Contacto</h1>

<div class="datos-contacto">
	<div class="mapa">
		<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d4544.383554072448!2d-63.922761337849614!3d-34.00477955471711!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x0!2zMzTCsDAwJzA4LjYiUyA2M8KwNTQnNTkuNiJX!5e0!3m2!1ses-419!2sar!4v1627141969964!5m2!1ses-419!2sar"
		 style="border:0;" allowfullscreen="" loading="lazy"></iframe>
	</div>
	<div class="direccion">
		<p class="dir-data">Ramón J. Cárcano 800</p>
		<p class="dir-data">Gral. Lavalle, Córdoba</p>
		<p class="dir-data">Teléfono : (03385) 481086</p>
		<a class="dir-data" href="mailto:sistemaalumnos@grupo4.com.ar">sistemaalumnos@grupo4.com.ar</a>

	</div>
</div>



{% endblock %}
